div#map {
    width: 96vw;
    height: 80vh;
}
.nav-map{
    background-color: #480f5c;
    border-color: #19143D !important;
    text-align: left;
}
.nav-map:hover{

}
/* 19143d 480f5c c832ff 44ffc4 fefeff */
.btn-drawzone{
    color: #FEFEFF !important;
    font-weight: bold !important;
    font-size: 22px;
    border-color: #C832FF !important;
    background-color: #C832FF !important;
    border-radius: 0.80rem !important;
  }
  
.btn-drawzone:hover{
    background-color: #480f5c !important;
}

.btn-putaltar{
    color: #FEFEFF !important;
    font-weight: bold !important;
    border-color: #C832FF !important;
    font-size: 22px;
    background-color: #C832FF !important;
    border-radius: 0.80rem !important;
  }
  
.btn-putaltar:hover{
    background-color: #480f5c !important;
}

.btn-putitem{
    color: #FEFEFF !important;
    font-weight: bold !important;
    border-color: #C832FF !important;
    font-size: 22px;
    background-color: #C832FF !important;
    border-radius: 0.80rem !important;
  }
  
.btn-putitem:hover{
    background-color: #480f5c !important;
}

.btn-item{
    margin-left: 30px !important;
    color: #FEFEFF !important;
    font-weight: bold !important;
    border-color: #C832FF !important;
    font-size: 22px;
    background-color: #C832FF !important;
    border-radius: 0.80rem !important;
  }
  
.btn-item:hover{
    background-color: #480f5c !important;
}

.btn-expand{
    color: #FEFEFF !important;
    font-weight: bold !important;
    border-color: #C832FF !important;
    font-size: 22px;
    background-color: #44ffc4 !important;
    border-radius: 0.80rem !important;
  }
  
.btn-expand:hover{
    background-color: #480f5c !important;
}

.infowindow{
    background-color: #C832FF;
}

.lib{
    font-size: 20px;
    font-weight: bold;
}
.lib-res{
    color: #000000;
    font-size: 20px;
}

.body-info{
    font-size: 20px !important;
}

.group-btn{
    text-align: center;
}

.btn-edit{
    color: #FEFEFF !important;
    border-color: #C832FF !important;
    padding: 7px;
    margin-right: 15px;
    margin-top: 15px;
    padding-right: 13px;
    padding-left: 13px;
    font-size: 20px;
    background-color: #C832FF !important;
    border-radius: 0.80rem !important;
  }
  
.btn-edit:hover{
    background-color: #480f5c !important;
}

.btn-delete{
    color: #FEFEFF !important;
    border-color: #C832FF !important;
    padding: 7px;
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 15px;
    padding-right: 13px;
    padding-left: 13px;
    font-size: 20px;
    background-color: #C832FF !important;
    border-radius: 0.80rem !important;
  }
  
.btn-delete:hover{
    background-color: #480f5c !important;
}

.btn-move{
    color: #FEFEFF !important;
    border-color: #C832FF !important;
    padding: 7px;
    margin-top: 15px;
    margin-right: 13px;
    padding-right: 13px;
    padding-left: 13px;
    font-size: 20px;
    background-color: #C832FF !important;
    border-radius: 0.80rem !important;
  }
  
.btn-move:hover{
    background-color: #480f5c !important;
}

.grp-info{
    margin: 20px;
}
